extends base.pug
include mixins/video

block content 
    form(method="GET").search__form 
        input(placeholder="Search by tilte",name="keyword", type="text")
        input(type="submit", value="Search now")
    div
        each video in videos
            +video(video)
        else
            span.empty__message No Videos Found
